/* Custom CSS for monospace font */
body {
    font-family: "Courier New", Courier, monospace;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    background-color: var(--ctp-latte-base);
    overflow-y: auto;
}

h1 {
    font-size: 2.5rem;
    margin: 1rem 0;
}

p {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 3rem;
}

.ascii-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.ascii-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2.5rem;
    width: 100%;

    .ascii-art {
        white-space: pre;
        border: 1px solid var(--ctp-latte-surface0);
        background: #fff; 
        margin: 1rem 0 2rem;
        padding: 30px 60px;
        max-width: 800px;
        width: auto;
        box-shadow: 8px 8px 3px color-mix(in srgb, var(--ctp-latte-overlay0), transparent 50%);
        overflow-x: auto;
    }

    .ascii-filename {
        padding: 6px 4px;
        background-color: var(--ctp-latte-mantle);
        margin-top: 0px;
        margin-left: 10px;
        text-align: left;
        color: white;
        line-height: 1.5;
    }
}
