/* Custom CSS for monospace font */
body {
    font-family: "Courier New", Courier, monospace;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    background-color: #f4f4f4;
    overflow-y: auto;
}

h1 {
    font-size: 2.5rem;
    margin: 1rem 0;
}

p {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 3rem;
}

.ascii-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.ascii-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2.5rem;
    width: 100%;
}

.ascii-art {
    white-space: pre;
    background: #fff;
    border: 1px solid #808080;
    padding: 1rem;
    margin: 1rem 0 2rem;
    width: 90%;
    max-width: 800px;
    overflow-x: auto;
    box-shadow: 8px 8px 2px rgba(0, 0, 0, 0.10);
    padding: 30px 60px;
    max-width: 720px;
    width: auto;
}

.ascii-filename {
    padding: 5px;
    background-color: rgba(0, 0, 0, 1);
    margin-top: 0px;
    margin-left: 10px;
    text-align: left;
    color: white;
}