/*
 @@@@@@@   @@@@@@    @@@@@@
@@@@@@@@  @@@@@@@   @@@@@@@
!@@       !@@       !@@
!@!       !@!       !@!
!@!       !!@@!!    !!@@!!
!!!        !!@!!!    !!@!!!
:!!            !:!       !:!
:!:           !:!       !:!
 ::: :::  :::: ::   :::: ::
 :: :: :  :: : :    :: : :
*/
body {
    font-family: "Courier New", Courier, monospace;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    background-color: var(--ctp-latte-base);
    overflow-y: auto;
    color: var(--ctp-latte-text);
    margin-top: 3rem;
}

h1 {
    font-size: 2.5rem;
    margin: 1rem 0;
}

p {
    font-size: 1.2rem;
    color: var(--ctp-latte-text);
}

p.url {
    margin: 0.25rem 1rem 1.75rem 1rem;
    a {
        font-size: 1rem;
        color: var(--ctp-latte-blue);
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
}

pre.intro-ascii {
    font-size: 1.125rem;
    margin: 0 auto;
    padding: 1rem;
    white-space: pre-wrap;
    color: var(--ctp-latte-lavender);
}

.ascii-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1rem;
    margin-top: 3rem;
}

.ascii-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
    width: 100%;

    /* ASCII FRAME */
    .ascii-art {
        border: 1px solid var(--ctp-latte-mauve);
        color: var(--ctp-latte-text);
        white-space: pre;
        background: #fff; 
        margin: 1rem 0 2rem;
        padding: 2rem 4rem;
        max-width: 800px;
        font-size:1.25rem;
        width: auto;
        overflow-x: auto;
        box-shadow: 8px 8px 3px color-mix(in srgb, var(--ctp-latte-overlay0), transparent 50%);
    }

    /* LABEL */
    .ascii-filename {
        padding: 6px 4px;
        background-color: var(--ctp-frappe-crust);
        margin-top: 0px;
        margin-left: 10px;
        text-align: left;
        color: white;
        line-height: 1.5;
        font-size: 1.2rem;
    }
}

/* Responsive styles for .ascii-art */
@media (max-width: 768px) {
    .ascii-card .ascii-art {
        max-width: 95vw;
        padding: 1rem 1.5rem;
        font-size: 1rem;
    }
    .ascii-card .ascii-filename {
        font-size: 0.875rem;
        padding: 4px 2px;
    }

    pre.intro-ascii {
        font-size: 0.8rem;
        padding: 1rem;
    }
}

@media (max-width: 480px) {
    .ascii-card .ascii-art {
        max-width: 100vw;
        padding: 0.5rem 0.5rem;
        font-size: 0.75rem;
    }
    pre.intro-ascii {
        font-size: 0.425rem;
        padding: 0.5rem;
        color: var(--ctp-mocha-blue);
    }

    p {
        font-size: 1rem;
    }
}

/* https://github.com/catppuccin/catppuccin/blob/main/docs/style-guide.md */
